<div class="home-body-timeline-post">
    <div class="home-body-timeline-post-user">

    </div>
    <div class="home-body-timeline-post-text">

    </div>
    <div class="home-body-timeline-image">

    </div>
    <div class="home-body-timeline-likes">

    </div>
    <div class="home-body-timeline-buttons">

    </div>
    <div class="home-body-timeline-comments">

    </div>
</div>