<div class="home-body-timeline-post">
    <div class="home-body-timeline-post-user">
        <div class="home-body-timeline-post-user-photo"></div>
        <div class="home-body-timeline-post-user-name">Juan Dela Cruz</div>
    </div>
    <div class="home-body-timeline-post-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non bibendum purus. In cursus finibus urna, eget congue ipsum laoreet at. Nulla rutrum diam a ante aliquam, quis ullamcorper est malesuada. Quisque massa tortor, vehicula id libero eu, dictum vestibulum mi. Nam nisi eros, dapibus vitae luctus at, dictum id nunc. Nulla vitae fermentum nisl, quis tincidunt arcu. Phasellus dictum neque augue, sed porttitor risus egestas eu. Vestibulum finibus tempor libero ut dignissim. Pellentesque id justo convallis, dictum risus et, varius nunc. Phasellus ut blandit tortor. Vivamus ante tortor, finibus sit amet est at, porttitor vulputate eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque eget laoreet augue, suscipit rhoncus augue. Quisque porta erat at neque pharetra viverra. In ac augue sit amet dui dignissim suscipit. Sed sit amet est ornare, porta leo sit amet, bibendum enim. Nunc aliquam velit sed dapibus rutrum. Pellentesque venenatis malesuada fermentum. Aenean at felis luctus, fringilla est id, iaculis massa. Fusce nisl quam, mattis ut auctor porttitor, laoreet sit amet lectus. Maecenas et mollis tellus, sed egestas tortor. Duis placerat ante sed euismod tristique.</p>
    </div>
    <div class="home-body-timeline-post-image">
        <p>image goes here</p>
    </div>
    <div class="home-body-timeline-post-likes">
        <p>number of likes goes here</p>
    </div>
    <div class="home-body-timeline-post-buttons">
        <button>Like</button>
        <button>Comments</button>
    </div>
    <div class="home-body-timeline-post-comments">
        <div>Comments go here</div>
    </div>
</div>