@{Layout = "/Views/_Layout.cshtml";}
@model Models.ProfileModel
@using System.Text.Json;
@{
    string jsonString = JsonSerializer.Serialize(Model);
}
<link rel="stylesheet" href="./Styles/Home/Home.css">
<link rel="stylesheet" href="./Styles/Home/Home.css">
<script src="Scripts/Home.js"></script>
<script>
    const model = '@jsonString';
    document.cookie = 'profilelink=' + "@Model.User.ProfileLink";
</script>


<div class="home-body">
    <div class="home-body-leftsidepanel">
        @* <button>Profile</button> *@
        <a href=@($"/{Model.User.ProfileLink}")>
            <div class="home-body-leftsidepanel-profilelink">
                <div class="home-body-leftsidepanel-profilelink-picture">
                    <img src=@Model.User.Photo>
                </div>
                <div class="home-body-leftsidepanel-profilelink-name">
                    <div>@Model.User.FirstName @Model.User.LastName</div>
                </div>
            </div>
        </a>
        <a href="/friends">
            <div class="home-body-leftsidepanel-friendslink">
                <div class="home-body-leftsidepanel-friendslink-icon">
                    <img src="./Images/group.png">
                </div>
                <div class="home-body-leftsidepanel-friendslink-name">
                    Friends
                </div>
            </div>
        </a>
    </div>

    <div class="home-body-timeline">
        <div class="home-timeline">
            @{
                await Html.RenderPartialAsync("~/Views/Profile/ProfilePosts.cshtml", Model);
            }
        </div>
    </div>
</div>
