@model Models.UserModel

<div class="layout-header-left-searchpanel-searchresults-searchcard">
    <div class="layout-header-left-searchpanel-searchresults-searchcard-picture">
        @* <img src=@Model.Photo> *@
    </div>
    <div class="layout-header-left-searchpanel-searchresults-searchcard-name">
        @* <a href=@(Model.ProfileLink)>@Model.ProfileName</a> *@
        Name
    </div>
</div>