@model Models.PhotoModel
@{
    var uploadDate = new System.DateTime(1970, 1, 1).AddSeconds(Model.UploadDate).ToString("yyyy-MM-dd");
                        
}

<div class="photocard-main-container">
    <div class="photocard-image-container">
        <img class="photocard-image" src="@Model.Photo" onclick="showPhotoInPost(@Model.PhotoId);">
    </div>

    <button class="photocard-del-btn" onclick="OpenDeletePhotoModal(@Model.PhotoId);" ><img id="trash" src="./Images/trash.png"></button>
</div>

<div>    
    <div class="photo-delete-modal" id="photo-delete-modal-@Model.PhotoId" style="display: none;">
        <div class="modal-container">
            <span class="photo-delete-close-modal">&times;</span>
            <h3 class="photo-delete-title-modal">
                Delete Photo?
            </h3>
            <div id="photo-delete-btns">
                <button class="photo-delete-btn photo-delete-confirm-btn" id="photo-delete-confirm-btn" onclick="DeletePhoto(@Model.PhotoId);" >Confirm</button>
                <button class="photo-delete-btn photo-delete-cancel-btn" id="photo-delete-cancel-btn" >Cancel</button>
            </div>
        </div>
    </div>
</div>

