@model Models.ProfileModel
@{
    var albumList = Model.AlbumList;
    var albumCount = 0;
    if(albumList != null) {
        albumCount = albumList.Count;
    }

    var photoList = Model.PhotoList;
    var photoCount = 0;
    if(photoList != null) {
        photoCount = photoList.Count;
    }
}

<link rel="stylesheet" type="text/css" href="./Styles/Profiles/ProfileAlbum.css">
<link rel="stylesheet" type="text/css" href="./Styles/Profiles/ProfileAlbum_AlbumCard.css">
<link rel="stylesheet" type="text/css" href="./Styles/Profiles/ProfileAlbum_PhotoCard.css">

<script src="./Scripts/ProfileAlbum.js"></script>

<body>
    <div class="profile-ext-container ">
        <h3>Albums</h3>
        <div class="ext-container album-container">
            <button class="album-btn" id="album-add-btn">Add New Album</button>
            <div class="album-add-modal" id="album-add-modal">
                <div class="modal-container">
                    <span id="album-add-close-modal">&times;</span>
                    <h2 class="album-add-title-modal">Add New Album</h2>
                    <hr>
                    <form class="form-add-album" id="form-add-album">
                        <label>Album Name:</label>
                        <input type="text" id="name" name="Name" /><br>
                    </form>
                    <button class="album-btn" id="album-save-btn">Save</button>
                    <button class="album-btn" id="album-cancel-btn">Cancel</button>
                </div>
            </div>

            <div class="album-card-container">
                @{
                    if(@albumList != null) {
                        foreach (Models.AlbumModel album in albumList) 
                        {
                            await Html.RenderPartialAsync("_AlbumCard.cshtml", album);
                        }
                    }
                }
                
            </div>
        </div>

        <div class="ext-container photos-container" style="display: none;">

            <div>
                <button class="photo-btn" id="photo-add-btn">Add New Photo</button>
                <button class="photo-btn" id="photo-close-album-btn">Close Album</button>

                <div class="photo-add-modal" id="photo-add-modal">
                    <div class="modal-container">
                        <span id="photo-add-close-modal">&times;</span>
                        <h2 class="photo-add-title-modal">Add Photo</h2>
                        <hr>
                        <form class="form-add-photo" id="form-add-photo">
                            <input type="file" id="myPhoto" name="Photo" accept="image/*" data-type='image' >
                        </form>
                        <div class="album-photo-modal">
                            <img id="album-photo-modal-img" src="./Images/img_avatar.png" >
                        </div>
                        <button class="photo-btn" id="add-photo-save-btn">Save</button>
                        <button class="photo-btn" id="add-photo-cancel-btn">Cancel</button>
                    </div>
                </div>
            </div>

            <div class="photos-card-container">
                @{
                    if(photoList != null) {
                        foreach(Models.PhotoModel photo in photoList)
                        {
                            if(photo.AlbumId == 8) {
                                await Html.RenderPartialAsync("_PhotoCard.cshtml", photo);
                            }
                        }
                    }
                }
            </div>
        </div>
        
    </div>
</body>
