<link rel="stylesheet" type="text/css" href="./Styles/Profiles/ProfileAlbum.css">
<script src="./Scripts/ProfileAlbum.js"></script>

<body>
    <div class="profile-ext-container">
        <h3>Albums</h3>
        <div class="ext-container">
            <button class="album-btn" id="album-add-btn">Add New Album</button>
            <div class="album-add-modal" id="album-add-modal">
                <div class="modal-container">
                    <span id="album-add-close-modal">&times;</span>
                    <h2 class="album-add-title-modal">Add New Album</h2>
                    <hr>
                    <form class="form-add-album" id="form-add-album">
                        <label>Album Name:</label>
                        <input type="text" id="name" name="Name" /><br>
                    </form>
                    <button class="album-btn" id="album-save-btn">Save</button>
                    <button class="album-btn" id="album-cancel-btn">Cancel</button>
                </div>
            </div>
        </div>
        <div class="ext-container">
            <div class="album-card-container">
                Album Cards Here
            </div>
        </div>
        
    </div>
</body>
