// @import '../Shared/colors';
// @import '../Shared/header';
@import '../Shared/import';

.layout{

    background-color: $grey;
    font-family: Arial, Helvetica, sans-serif;

    &-header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: auto;
        
        height: $header-height;
        z-index: 1;
        
        padding: $padding;

        background-color: white;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        box-shadow: $box-shadow;

        

        &-left{
            display: flex;
            flex-direction: row;

            & a {
                right: 0;
            }

            &-logo{
                width: 15%;
                height: 50%;
                margin-left: 10px;
            }

            &-searchform{
                z-index: 2;
                margin: auto 2%;
                &-input{
                    background-color: #d9dbdd;
                    padding: 8px;
                    border: solid #d9dbdd 1.5px;
                    border-radius: 2em;
                    width: 150%;
                    
                }
            }

            &-searchpanel{
                display: none;
                position: fixed;
                background-color: white;
                z-index: 1;
                padding-top: 30px;
                height: 400px;
                width: 300px;

            }
        }
        &-middle {
            display: flex;
            &-home {
                width: 5%;
                height: 80%;
            }
            
        }
    }
    
}