// @import '../Shared/colors';
// @import '../Shared/header';
@import '../Shared/import';

.layout{

    background-color: $grey;
    font-family: Arial, Helvetica, sans-serif;

    &-header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 55px;
        z-index: 1;
        padding: $padding;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: $box-shadow;

        &-left{
            display: flex;
            flex-direction: row;
            text-align: center;

            & a{
                margin-right: 0;
                justify-content: center;
            }

            &-logo{
                width: 50%;
                height: 90%;
            }

            &-searchform{
                z-index: 2;
                margin: auto 0;
                &-input{
                    background-color: #d9dbdd;
                    padding: 8px 8px 8px 15px;
                    border: solid #d9dbdd 1.5px;
                    border-radius: 2em;
                    width: 250%;
                }
            }

            &-searchpanel{
                display: none;
                position: fixed;
                background-color: white;
                z-index: 5;
                padding-top: 30px;
                height: 400px;
                width: 300px;
            }
        }

        &-middle{
            text-align: center;
            padding: 10px;
            margin-left: 7%;

            & a{
                margin: 2%;
            }

            &-home{
                width: 3%;
                height: 3%;
            }

            &-home:hover{
                width: 4%;
                height: 4%;
            }
            
        }

        &-right{

            &-settings{
                width: 9%;
                height: 9%;
                float: right;
                margin-right: 10%;
            }

            &-settings:hover{
                width: 10%;
                height: 10%;
            }
        }
    }

    &-accountpanel{
        display: none;
        position: fixed;
        top:$header-total-height;
        right: 0;
        height: 300px;
        width: 300px;
        background-color: red;
        z-index: 1;
    }
}