// @import '../Shared/colors';
// @import '../Shared/header';
@import '../Shared/import';

.layout{

    background-color: $grey;
    font-family: Arial, Helvetica, sans-serif;

    &-header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-height;
        z-index: 1;
        padding: $padding;
        background-color: white;
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        align-items: center;
        box-shadow: $box-shadow;

        &-left{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding-left: 20px;

            & a{
                & img{
                    height: 50px;
                }
            }
            
            &-searchform{
                z-index: 2;
                margin-left: 10px;
                &-input{
                    width: 200px;
                    background-color: #d9dbdd;
                    padding: 8px 8px 8px 15px;
                    border: solid #d9dbdd 1.5px;
                    border-radius: 2em;
                }
            }

            &-searchpanel{
                display: none;
                position: fixed;
                left: 0;
                top: 0;
                background-color: white;
                // z-index: 5;
                padding-top: $header-height;
                height: 400px;
                width: 370px;
                box-shadow: $box-shadow;
                border-radius: 0 0 10px 10px;
                padding-left: 30px;

                &-recent{
                    text-align: left;
                }

                &-searchresults{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    // width: 100%;
                    

                    &-link{
                        width: 100%;
                        &-searchcard{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            // padding-left: 30px;
                            margin-bottom: 30px;
                            
                            &-picture{
                                $picture-dimensions:50px; 
                                height: $picture-dimensions;
                                width: $picture-dimensions;
            
                                & img{
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                    border-radius: 50%;
                                }
                            }
    
                            &-name{
                                padding-left: 20px;
                            }
                        }
                    }

                    
                }
            }
        }

        &-middle{
            display: flex;
            flex-direction: row;
            justify-content: center;

            & a{
                & img{
                    height: 40px;
                    margin:0 10px 0 10px;
                }

                & img:hover{
                    transform: scale(120%, 120%);
                }
            }
        }

        &-right{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 20px;

            & a{
                margin-left: 10px;
                & img{
                    height: 40px;
                }
                & img:hover{
                    transform: scale(120%, 120%);
                }
            }

            &-notificationscontainer{
                background-color: white;
                position: fixed;
                top: $header-height;
                display: none;
                flex-direction: column;
                align-items:flex-start;
                justify-content: flex-start;
                height: 60vh;
                width: 280px;
                box-shadow: $box-shadow;
                overflow-y: auto;

                &-notifcard{
                    margin: 10px 0 0 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;

                    &-picture{
                        $picture-dimensions:70px; 
                        height: $picture-dimensions;
                        width: $picture-dimensions;
        
                        & img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }

                    &-text{
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    &-accountpanel{
        display: none;
        position: fixed;
        top:$header-total-height;
        right: 0;
        height: 300px;
        width: 300px;
        background-color: red;
        z-index: 1;
    }
}