<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./Styles/Register/RegisteredSuccess.css">
</head>

<body>
    <div class="registered-success-container">
        <h1>Registered successfully!</h1>
        <img src="Images/checked.png"><br>
        <a href="/login"><button>Back to Login</button></a>
    </div>
</body>

</html>