.user-container {
    display: flex;
    margin: 12% 5% 2%;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.user-firstname-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
#user-firstname-text {
    word-break: break-word;
    text-align: center;
}
#firstname-edit-btn {
    width: 150px;
}
.user-firstname-btn {
    width: 49%;
    margin: 10px 0 0;
    padding: 0 10px;
}
.user-firstname-btn:hover,
.user-firstname-btn:focus {
    cursor: pointer;
}

.user-firstname-readonly {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-firstname-edit {
    display: none;
    flex-direction: column;
}

.form-edit-firstname {
    box-sizing: border-box;
    overflow-y: auto;
    text-align: center;
    border-radius: 6px;
    width: 250px;
    height: 100px;
    resize: none;
    font: inherit;
}