<div class="friends-main-friendcardcontainer-friendcard">
    <div class="friends-main-friendcardcontainer-friendcard-picture">
        <img src="Images/Friends/defaultpicture.jpg">
    </div>
    <div class="friends-main-friendcardcontainer-friendcard-content">
        <div class="friends-main-friendcardcontainer-friendcard-content-name">Juan Dela Cruz</div>
        <div class="friends-main-friendcardcontainer-friendcard-content-confirm">
            <button class="friends-main-friendcardcontainer-friendcard-content-confirm-button">Confirm</button>
        </div>
        <div class="friends-main-friendcardcontainer-friendcard-content-delete">
            <button class="friends-main-friendcardcontainer-friendcard-content-delete-button">Delete</button>
        </div>
    </div>
    
</div>