@model Models.UserModel
<div class="friends-main-all-container-friendcard">
    <div class="friends-main-all-container-friendcard-picture">
        <img src=@Model.Photo>
    </div>
    <div class="friends-main-all-container-friendcard-name">
        <a class="friends-main-all-container-friendcard-name-link" href=@(Model.ProfileLink)>@Model.FirstName @Model.LastName</a>
    </div>
</div>