@{Layout = "/Views/_Layout.cshtml";}

<head>
    <link rel="stylesheet" href="./Styles/Friends/Friends.css">
</head>

<div class="friends">
    <div class="friends-sidepanel">
        <a href="/">Home</a>
        <a href="/">Friend Requests</a>
        <a href="/">Suggestions</a>
        <a href="/">All Friends</a>
        <a href="/">Birthdays</a>
        <a href="/">Cukstom Lists</a>
    <div>
    <div class="friends-main">

    </div>
</div>
