@{Layout = "/Views/_Layout.cshtml";}

<head>
    <link rel="stylesheet" href="./Styles/Friends/Friends.css">
</head>

<div class="friends">
    <div class="friends-sidepanel">
        <a href="/friends">Home</a>
        <a href="/friends">Friend Requests</a>
        <a href="/friends">Suggestions</a>
        <a href="/friends">All Friends</a>
        <a href="/friends">Birthdays</a>
        <a href="/friends">Cukstom Lists</a>
    </div>
    <div class="friends-main">
        <div class="friends-main-title">Friend Requests</div>
        <div class="friends-main-friendcardcontainer">
            @{
                for(var i = 1; i <= 8; i++)
                {
                    await Html.RenderPartialAsync("_FriendCard.cshtml");
                }
            }
            @* @await Html.PartialAsync("_FriendCard.cshtml") *@
        </div>
    </div>
</div>
