.albumcard-main-container {
    background: #ccc;
    border: #fff solid 1px;
    width: 200px;
    padding: 5px;
    margin: 10px;
    align-items: center;
}
.albumcard-title-readonly {
    
}
.albumcard-title-edit {
    
}
.albumcard-details-container {
    color: #0000ff;
}
