.photocard-main-container {
    background: #ccc;
    border: #fff solid 1px;
    width: 240px;
    height: 240px;
    padding: 5px;
    margin: 10px;
    align-items: center;
}
.photocard-image-container {
    border: #000 solid 1px;
    border-radius: 5px;
    height: 210px;
}
.photocard-image {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
.photocard-details-container {
    color: #0000ff;
}
.photocard-del-btn {
    margin: 5px auto;
    display: block;
}
.photocard-del-btn:hover,
.photocard-del-btn:focus {
    cursor: pointer;
}
