/* GENERAL */
.profile-ext-container {
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
}

.ext-container {
    width: -webkit-fill-available;
    border-radius: 10px;
    background: #ffffff;
    margin: 0 12% 2%;
    padding: 10px 15px;
}

.album-btn:hover,
.album-btn:focus {
    cursor: pointer;
}

/* MODAL ADD NEW ALBUM/PHOTO */
#album-add-modal,
#photo-add-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-container {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 12px;
    width: 40%;
}
.album-add-title-modal,
.photo-add-title-modal {
    text-align: center;
}
#album-add-close-modal,
#photo-add-close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 36px;
    font-weight: bold;
}
#album-add-close-modal:hover,
#album-add-close-modal:focus,
#photo-add-close-modal:hover,
#photo-add-close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.album-photo-modal {
    border: #000 2px solid;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
}
#album-photo-modal-img {
    display: block;
    margin: auto;
    height: 300px;
    width: 300px;
    border-radius: 8px;
}
.album-btn,
.photo-btn {
    width: 50%;
}
#album-save-btn,
#add-photo-save-btn {
    float: right;
}
#album-cancel-btn,
#add-photo-cancel-btn {
    float: left;
}

/* FORM INSIDE MODAL */
.form-add-album,
.form-add-photo {
    margin-bottom: 10px;
}

.album-card-container,
.photos-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.photocard-holder {
    display: flex;
    flex-wrap: wrap;
}
