.photocard-main-container {
    background: #f3f3f3;
    border: #fff solid 1px;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    padding: 10px 10px 5px 10px;
    margin: 10px 10px 5px 10px;
    margin-bottom: 5px;
    align-items: center;
    /* flex: 1; */
}
.photocard-main-container #trash {
    width: 6%;
    height: auto;
}
.photocard-image-container {
    border-radius: 8px;
    height: 210px;
}
.photocard-image {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border-radius: 8px;
    object-fit: cover;
    transition: transform .2s;
}
.photocard-image:hover {
    transform: scale(1.2);  
    cursor: pointer;
}
.photocard-details-container {
    color: #0000ff;
}
.photocard-del-btn {
    margin: 5px auto;
    display: block;
    font-size: 12px;
    cursor: pointer;
    border: none;
    padding: 3px;
    color: #1877f2;
    background: #f3f3f300;
}
.photocard-del-btn:hover,
.photocard-del-btn:focus {
    cursor: pointer;
    background-color: rgba(156, 154, 154,0.5);
    color: #f00;
}

/* DELETE PHOTO MODAL */
.photo-delete-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-container {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 12px;
    width: 30%;
}
.photo-delete-title-modal {
    text-align: center;
    color: #ff0000;
    margin-top: 7%;
    font-size: 13px;
    padding-left: 7.5%;
}
.photo-delete-close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    text-align: end;
}
.photo-delete-close-modal:hover,
.photo-delete-close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#photo-delete-btns{
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-top: 10px;
}
.photo-delete-btn {
    width: 50%;
    cursor: pointer;
}
.photo-delete-confirm-btn {
    float: right;
}
.photo-delete-cancel-btn {
    float: left;
}
#photo-delete-confirm-btn {
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #5ea4ff;
    color: white;
}
#photo-delete-confirm-btn:hover {
    color: white;
    background-color: #006af5;
}
#photo-delete-cancel-btn {
    width: 20%;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
    color: white;
    background-color: rgb(255, 92, 92);
}
#photo-delete-cancel-btn:hover {
    color: white;
    background-color: red;
}