.profile-ext-container {
    background: #f1f1f1;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.profile-readonly {
    border-radius: 10px;
    width: 40vw;
    background: #ffffff;
    margin: 0 14% 2%;
    padding: 10px 15px;
}

.profile-edit-firstname-modal,
.profile-edit-lastname-modal,
.profile-edit-email-modal,
.profile-edit-mobile-modal,
.profile-edit-birthday-modal,
.profile-edit-gender-modal,
.profile-edit-password-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: auto;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-about-container {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    border-radius: 12px;
    width: 25%;
}

.profile-title-modal{
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 13px;
}

#profile-close-firstname-modal,
#profile-close-lastname-modal,
#profile-close-email-modal,
#profile-close-mobile-modal,
#profile-close-birthday-modal,
#profile-close-gender-modal,
#profile-close-password-modal {
    color: #aaaaaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

#profile-close-firstname-modal:hover,
#profile-close-firstname-modal:focus,
#profile-close-lastname-modal:hover,
#profile-close-lastname-modal:focus,
#profile-close-email-modal:hover,
#profile-close-email-modal:focus,
#profile-close-mobile-modal:hover,
#profile-close-mobile-modal:focus,
#profile-close-birthday-modal:hover,
#profile-close-birthday-modal:focus,
#profile-close-gender-modal:hover,
#profile-close-gender-modal:focus,
#profile-close-password-modal:hover,
#profile-close-password-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.profile-firstname-btn,
.profile-lastname-btn,
.profile-email-btn,
.profile-mobile-btn,
.profile-birthday-btn,
.profile-gender-btn,
.profile-password-btn {
    width: 50%;
}

#firstname-save-btn,
#lastname-save-btn,
#email-save-btn,
#mobile-save-btn,
#birthday-save-btn,
#gender-save-btn,
#password-save-btn {
    width: 20%;
    margin-right: 10px;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
}

#firstname-save-btn:hover,
#lastname-save-btn:hover,
#email-save-btn:hover,
#mobile-save-btn:hover,
#birthday-save-btn:hover,
#gender-save-btn:hover,
#gender-password-btn:hover {
    color: white;
    background-color: green;
}

#firstname-cancel-btn,
#lastname-cancel-btn,
#email-cancel-btn,
#mobile-cancel-btn,
#birthday-cancel-btn,
#gender-cancel-btn,
#password-cancel-btn {
    width: 20%;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
}

#firstname-cancel-btn:hover,
#lastname-cancel-btn:hover,
#email-cancel-btn:hover,
#mobile-cancel-btn:hover,
#birthday-cancel-btn:hover,
#gender-cancel-btn:hover,
#password-cancel-btn:hover {
    color: white;
    background-color: red;
}

.buttons {
    display: flex;
    justify-content: center;
    font-size: 13px;
}

#form-profile {
    margin-bottom: 10px;
}

.field {
    display: flex;
}

#profile-edit-firstname-btn,
#profile-edit-lastname-btn,
#profile-edit-email-btn,
#profile-edit-mobile-btn,
#profile-edit-birthday-btn,
#profile-edit-gender-btn,
#profile-edit-password-btn {
    width: 8%;
    height: 5%;
    float: right;
    margin: auto 0px auto auto;
    font-size: 10px;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

#profile-edit-firstname-btn:hover,
#profile-edit-lastname-btn:hover,
#profile-edit-email-btn:hover,
#profile-edit-mobile-btn:hover,
#profile-edit-birthday-btn:hover,
#profile-edit-gender-btn:hover,
#profile-edit-password-btn:hover {
    background-color: #1877f2;
    color: white;
}

p {
    margin: 0;
    padding: 8px;
    font-size: 13px;
}

label {
    margin-bottom: 5px;
}

#password {
    margin-left: 50px;
    width: 60%;
}

#new-password {
    margin-left: 20px;
    width: 60%;
}

#old-password {
    margin-left: 30px;
    width: 60%;
}

#confirm-password,
#confirm-new-password {
    width: 60%;
}

#email {
    margin-left: 24px;
    width: 60%;
}

/* .modal-about-container .input-about {
    width: auto;
    height: auto;
    padding: 5px;
    margin: auto;
    border-radius: 0;
    background-color: white;
} */

#gender {
    width: 80%;
    height: auto;
    padding: 5px;
    margin: auto;
    border-radius: 0;
    background-color: white;
}