$grey: #e9ebee;
$blue: #1877f2;

$header-height:50px;

.home{

    background-color: $grey;

    &-header{
        position: fixed;
        top: 0;
        width: 100%;
        min-height: auto;
        height: $header-height;
        z-index: 1;

        background-color: white;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-left{
            display: flex;
            flex-direction: row;
        }
    }

    &-body{
        position: relative;
        top: $header-height;

        display: flex;
        flex-direction: row;

        width: 100%;

        &-rightsidepanel{
            width: 25%;

            display: flex;
            flex-direction: column;
        }

        &-timeline{
            width: 50%;
        }

        &-leftsidepanel{
            width: 25%;
        }
    }

}