html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #e9ebee;
    font-family: Arial, Helvetica, sans-serif;
}

.login-container {
    display: flex;
    margin: 12% auto;
    justify-content: center;
    position: relative;
}

.login-container-logo {
    margin-right: 20%;
}

.login-container-logo h1 {
    font-family: 'Roboto', sans-serif;
    color: #1877f2;
    font-size: 40px;
    margin-bottom: 0;
}

.login-container-logo p {
    color: #1c1e21;
    margin-top: 10px;
    font-size: 15px;
}

.login-container-form {
    background-color: white;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 5px;
    border: solid white 1.5px;
}

.login-container-form a {
    text-decoration: none;
}

.login-container-form form {
    width: 100%;
    font-size: 15px;
    color: #1c1e21;
}

.login-container-form form input {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: solid #e9ebee 1.5px;
}

.login-container-form hr {
    margin: 7% auto;
    border: solid 1px #e9ebee;
    background-color: #e9ebee;
}

.login-container-form .login-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid #1877f2 1.5px;
    background-color: #1877f2;
    color: white;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.login-container-form .register-button {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: solid #36a420 1.5px;
    background-color: #36a420;
    color: white;
    text-align: center;
    margin: auto 20%;
    font-weight: bold;
    cursor: pointer;
}