<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1"/>
    <title>@ViewData["Title"]Pastebook </title>
    <link rel="icon" type="image/x-icon" href="/Images/pastebook-logo.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="./Styles/_Layout/_Layout.css">
    <script src="Scripts/_Layout.js"></script>

    
</head>

<body class="layout">
    <div class="layout-header">
        <div class="layout-header-left">
            <a href="/"><img class="layout-header-left-logo" src="Images/pastebook-logo.png"></a>
            <form action="/" class="layout-header-left-searchform">
                <input type="text" placeholder="Search Pastebook" class="layout-header-left-searchform-input"/>
            </form>
            <div class="layout-header-left-searchpanel">
                <div  class="layout-header-left-searchpanel-recent">No Results</div>
                <div class="layout-header-left-searchpanel-searchresults">
                    
                </div>
            </div>
        </div>
        <div class="layout-header-middle">
            <a href="/"><img class="layout-header-middle-home" src="Images/home.png"></a>
        </div>
        <div class="layout-header-right">
            <div class="layout-header-right-user">
                
            </div>
            <a href="#"><img class="layout-header-right-notifications" id="layout-header-middle-home-notifs" src="Images/notification.png"></a>
            <a href="#"><img class="layout-header-right-settings" src="Images/gear.png"></a>
            <div class="layout-header-right-notificationscontainer">
               <button class="layout-header-right-notificationscontainer-clear">Clear</button>
            </div>
        </div>
    </div>
    <div class="layout-accountpanel">
        <div class="layout-accountpanel-container">
            
        </div>
        <div class="layout-accountpanel-logout"><button class="layout-accountpanel-logout-button">Log Out</button></div>
    </div>

    @RenderBody()

</body>
</html>