<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1"/>
    <title>Pastebook</title>
    <link rel="stylesheet" href="./Styles/Home/Home.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="home">
    <div class="home-header">
        <div class="home-header-right">
            <button>logo</button>
            <form action="/">
                <input type="text" placeholder="Search Pastebook"/>
            </form>
        </div>
        <div class="home-header-middle">
            <button>Home</button>
        </div>
        <div class="home-header-left">
            <button>Profile</button>
            <button>messages</button>
            <button>notifications</button>
        </div>
    </div>

    <div class="home-rightsidepanel">
        <button>Profile</button>
        <button>Friends</button>
    </div>

    <div class="home-timeline">
        Timeline Fix me insert partial views here
    </div>

    <div class="home-leftsidepanel">
        placeholder
    </div>


</body>