<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Post</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="./Styles/Post/Post.css">
    </head>
    <body>
        <div class = "post-container">
            <div class = "post-container-left">
                <span id="post-container-left-close">&times;</span>
                <a href="/"><img class="post-container-left-logo" src="Images/pastebook-logo1.png"></a>
                <img class="post-container-left-post" src="Images/Posts/post.jpg">
            </div>
            <div class = "post-container-right">
                <div class = "post-container-right-notifications">
                    <a href="#"><img class="post-container-right-notifications-notification" src="Images/Posts/notification.png"></a>
                    <a href="#"><img class="post-container-right-notifications-messenger" src="Images/Posts/messenger.png"></a>
                    <a href="#"><img class="post-container-right-notifications-option" src="Images/Posts/option.png"></a>
                </div>
                <div class ="post-container-right-profile">
                    <img class="post-container-right-profile-logo" src="Images/pastebook-logo1.png">
                    <span>User name here</span>
                </div>
                <div class ="post-container-right-caption">
                    <span>Insert caption here</span>
                </div>
                <div class = "post-container-right-status">
                    <span id = "like">Likes</span>
                    <span id = "comment">Comments</span>
                </div>
                <div class = "post-container-right-buttons">
                    <button>Like</button>
                    <button>Comments</button>
                </div>
            </div>
        </div>
    </body>
</html>