<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" type="text/css" href="./Styles/Profile.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./Scripts/Profile.js"></script>

</head>

<body>
    <div class="profile-container">

        <div class="profile-cover-container">
            @* <img id="profile-cover-img" src="../Images/img-cover.png"> *@
        </div>

        <div class="profile-photo-container">
            <img id="profile-photo-img" src="../Images/img_avatar.png">
        </div>
        <button class="photo-edit-btn" id="photo-edit-btn">Change photo</button>
        <div class="profile-photo-edit-modal" id="profile-photo-edit-modal">
            <div class="modal-container">
                <span id="profile-photo-close-modal">&times;</span>
                <h2 class="profile-photo-title-modal">Update Profile Picture</h2>
                <hr>
                <input type="file" accept="image/*" id="myFile" name="filename">
                <button class="profile-photo-btn" id="photo-save-btn">Save</button>
                <button class="profile-photo-btn" id="photo-cancel-btn">Cancel</button>
            </div>
        </div>

        <div class="profile-name-container">
            <h1>Fullname here</h1>
        </div>

        <div class="profile-about-container">
            <div class="profile-about-readonly">
                <h2 id="profile-about-text">About Me</h2>
                <button class="profile-about-btn" id="about-edit-btn">Edit</button>
            </div>
            
            <div class="profile-about-edit">
                <form class="form-edit" id="form-profile-about">
                    <textarea class="form-edit-about" id="form-edit-about"></textarea>
                </form>
                <button class="profile-about-btn" id="about-cancel-btn">Cancel</button>
                <button class="profile-about-btn" id="about-save-btn">Save</button>
            </div>
            
        </div>
        
    </div>
</body>

</html>