<div class="layout-header-middle-notificationscontainer-notifscard">
    <div class="layout-header-middle-notificationscontainer-notifscard-picture">
        Image
    </div>
    <div class="layout-header-middle-notificationscontainer-notifscard-text">

    </div>
</div>